@model DeliverDancingGoatMVC.Models.ContactsViewModel

@{
    ViewBag.Title = Resources.DancingGoat.Contact;
}

<div class="col-md-12">
    <h2 class="contact-title">@Resources.DancingGoat.Roastery</h2>
    <ul class="contact-info">
        <li>@Model.Roastery.Elements.phone.value</li>
        <li><a href="mailto:@Model.Roastery.Elements.email.value" target="_top">@Model.Roastery.Elements.email.value</a></li>
        <li>
            <a href="javascript:void(0)" data-address="@Model.Roastery.Elements.city.value, @Model.Roastery.Elements.street.value" class="js-scroll-to-map">@Model.Roastery.Elements.street.value @Model.Roastery.Elements.city.value,<br />
                @Model.Roastery.Elements.zip_code.value, @Model.Roastery.Elements.country.value, @Model.Roastery.Elements.state.value<br />
            </a>
        </li>
    </ul>
</div>

<h2>@Resources.DancingGoat.CompanyCafes</h2>
<div class="row">
    @foreach (var cafe in @Model.Cafes)
    {
        <div class="col-md-6 col-lg-3">
            <div class="cafe-tile cursor-hand js-scroll-to-map" data-address="@cafe.Elements.city.value, @cafe.Elements.street.value">
                <div class="cafe-tile-content">
                    <h3 class="cafe-tile-name">@cafe.System.Name</h3>
                    <address class="cafe-tile-address">
                        <a href="javascript:void(0)" class="cafe-tile-address-anchor">@cafe.Elements.street.value, @cafe.Elements.city.value<br />
                            @cafe.Elements.zip_code.value, @cafe.Elements.country.value, @cafe.Elements.state.value
                        </a>
                    </address>
                    <p class="cafe-tile-phone">@cafe.Elements.phone.value</p>
                </div>
            </div>
        </div>
    }
</div>

<h2 class="map-title">@Resources.DancingGoat.ContactUs_MapTitle</h2>
<div class="map js-map"></div>

@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVOq4C-rf7JVeHt6ws9vsf-KHIRpueASg"></script>
    @Scripts.Render("~/Scripts/map.js")
}