@model DancingGoat.Models.CoffeesFilterViewModel

<h4>@Resources.DancingGoat.Coffees_CoffeeProcessing</h4>

@for (var i = 0; i < Model.AvailableProcessingTypes.Count; ++i)
{
    <span class="checkbox js-postback">
        @Html.HiddenFor(m => m.AvailableProcessingTypes[i].Value)
        @Html.CheckBoxFor(m => m.AvailableProcessingTypes[i].Selected)
        @Html.LabelFor(m => m.AvailableProcessingTypes[i].Selected, Model.AvailableProcessingTypes[i].Text)
    </span>
}

<h4>@Resources.DancingGoat.Brewers_PublicStatus</h4>

@for (var i = 0; i < Model.AvailableStatusTypes.Count; ++i)
{
    <span class="checkbox js-postback">
        @Html.HiddenFor(m => m.AvailableStatusTypes[i].Value)
        @Html.CheckBoxFor(m => m.AvailableStatusTypes[i].Selected)
        @Html.LabelFor(m => m.AvailableStatusTypes[i].Selected, Model.AvailableStatusTypes[i].Text)
    </span>
}