@model DancingGoat.Models.CoffeesFilterViewModel

<h4>@Localizer["Coffees.CoffeeProcessing"]</h4>

@for (var i = 0; i < Model.AvailableProcessings.Count; ++i)
{
    <span class="checkbox js-postback">
        @Html.HiddenFor(m => m.AvailableProcessings[i].Value)
        @Html.CheckBoxFor(m => m.AvailableProcessings[i].Selected)
        @Html.LabelFor(m => m.AvailableProcessings[i].Selected, Model.AvailableProcessings[i].Text)
    </span>
}

<h4>@Localizer["Brewers.PublicStatus"]</h4>

@for (var i = 0; i < Model.AvailableProductStatuses.Count; ++i)
{
    <span class="checkbox js-postback">
        @Html.HiddenFor(m => m.AvailableProductStatuses[i].Value)
        @Html.CheckBoxFor(m => m.AvailableProductStatuses[i].Selected)
        @Html.LabelFor(m => m.AvailableProductStatuses[i].Selected, Model.AvailableProductStatuses[i].Text)
    </span>
}