@model DancingGoat.Areas.Admin.Models.SelectProjectViewModel

<section>
    <h1>Expired Subscriptions</h1>
    <p>Your associated subscriptions in Kentico Cloud are expired. The last one expired at @ViewBag.EndAt.ToString("m").</p>
</section>
@if (Model.Projects != null)
{
    <section>
        @Html.Partial("_ProjectsPartial", Model)
        <p>The app will be configured with the project ID of the selected project.</p>
    </section>
}
else
{
    <section>
        @Html.Partial("_FreePartial")
    </section>
    <section>
        @Html.Partial("_SharedGeneralPartial")
    </section>
}

@section Scripts
{
    @Scripts.Render("~/Areas/Admin/Scripts/selectProject.js")
}