@model DancingGoat.Areas.Admin.Models.IndexViewModel

<header>
    <div class="content">
        <h1>Sample Site &ndash; Self Configuration</h1>
        <p>For your sample app to configure itself automatically with a proper project ID, you can either get it by signing in using your Kentico Cloud credentials or by signing up for a trial. Later, it will be converted to a free plan.</p>
    </div>
</header>
@Html.Partial("_MessagesPartial")
<section>
    <h2>Get a Project ID</h2>
    <div class="form-panel-group">
        <div class="form-panel-tabs"></div>
        <div class="form-panels">
            @{
                ViewBag.ButtonType = "primary";
                ViewBag.ShowSwitcher = true;
            }

            @using (Html.BeginForm(null, null, FormMethod.Post, new { @Action = @"https://horusproduction.e1.loginrocket.com/v1/login", Enctype = "multipart/form-data", Id = "signInForm", @Class = "form-panel", Data_Origin = "index" }))
            {
                @Html.Partial("_SignInPartial", Model.SignInModel)
            }

            @using (Html.BeginForm(null, null, FormMethod.Post, new { @Action = @"https://horusproduction.e1.loginrocket.com/v1/signup", Enctype = "multipart/form-data", Id = "signUpForm", @Class = "form-panel" }))
            {
                @Html.Partial("_SignUpPartial", Model.SignUpModel)
            }
        </div>
    </div>
</section>
<div class="content sections-secondary divided">

    @{
        ViewBag.ButtonType = "secondary";
    }

    <section class="section-secondary">
        @Html.Partial("_ProjectIdPartial", Model.SelectProjectModel)
    </section>
    <section class="section-secondary">
        @Html.Partial("_SharedGeneralPartial")
    </section>
</div>

@section Scripts
{
    @Scripts.Render("~/Areas/Admin/Scripts/identityForms.js")
}