@model DancingGoat.Areas.Admin.Models.IndexViewModel

@{
    ViewBag.Title = "Sample Site — Configuration";
}

@inject IOptionsSnapshot<AppConfiguration> Config
 
<header>
    <div class="kk-container">
        <h1 class="headline-large">@ViewBag.Title</h1>
        <p class="margin-top-xl">For your sample app to work, you should have a Kontent.ai project containing content. Your app should be then configured with its project ID. You can either get it by signing in using your Kontent.ai credentials or by signing up for a trial. Later, it will be converted to a free plan.</p>
    </div>
</header>
@{ await Html.RenderPartialAsync("~/Areas/Admin/Views/Shared/_MessagesPartial.cshtml"); }

<script type="text/javascript">
    function openKontent() {
        var w = 800;
        var h = 800;
        var left = (window.screen.width / 2) - ((w / 2) + 10);
        var top = (window.screen.height / 2) - ((h / 2) + 50);

        window.open("@(Config.Value.KontentUrl.TrimEnd('/'))/sample-site-configuration", "Kontent",
            "status=no,height=" + w + ",width=" + h + ",resizable=yes,left="
            + left + ",top=" + top + ",screenX=" + left + ",screenY="
            + top + ",toolbar=no,menubar=no,location=no,directories=no");
    }

    window.addEventListener("message", receiveMessage, false);

    function receiveMessage(event) {
        if (event.origin.toLowerCase() !== "@(Config.Value.KontentUrl.TrimEnd('/').ToLower())")
            return;

        if (!event.data.projectGuid)
            return;

        document.getElementById("project-guid-from-kc").value = event.data.projectGuid;
        document.getElementById("end-at-from-kc").value = event.data.endAt;
        document.getElementById("newly-generated-project-from-kc").value = event.data.newlyGeneratedProject;
        document.getElementById("set-configuration-from-kc").submit();
    }
</script>

<div class="kk-container">
    <section class="paper margin-top-xl">
        <h2 class="headline-medium">Get a Project ID</h2>
        <p class="margin-top-l">You may wish to either select from existing projects or create a new sample project. The app will be configured with its project ID.</p>
        <button class="button button-primary margin-top-xl" onclick="openKontent()">Get Project ID from Kontent</button>
        @using (Html.BeginForm("UseSelected", "SelfConfig", FormMethod.Post, new { id = "set-configuration-from-kc" }))
        {
            @Html.HiddenFor(m => m.ProjectGuid, new { id = "project-guid-from-kc" })
            @Html.HiddenFor(m => m.EndAt, new { id = "end-at-from-kc" })
            @Html.HiddenFor(m => m.NewlyGeneratedProject, new { id = "newly-generated-project-from-kc" })
        }
    </section>
</div>

<div class="kk-container">
    <div class="row-lg row-lg--align-start">
        <section class="col paper margin-top-xl">
            @using (Html.BeginForm("UseSelected", "SelfConfig", FormMethod.Post))
            {
                <h2 class="headline-medium">Set A Project ID Manually</h2>
                <p class="margin-top-l">Alternatively, you can configure your app manually by submitting a project ID below.</p>
                <div class="project-id-form margin-top-xl">
                    @Html.EditorFor(vm => vm.ProjectGuid, new { htmlAttributes = new { aria_label = "Project ID", autocomplete = "off", @class = "project-id-form__input", placeholder = "Project ID" } })
                    @Html.ValidationMessageFor(vm => vm.ProjectGuid)
                    <button type="submit" class="button button-primary project-id-form__submit-button">Submit</button>
                </div>
            }
        </section>
        <section class="col paper margin-top-xl">
            <h2 class="headline-medium">Use the Shared Project</h2>
            <p class="margin-top-l">Alternatively, you may wish to use the shared project (project ID "@(Config.Value.DefaultDeliveryOptions.ProjectId)").</p>
            <p class="margin-top-l"><strong>Note:</strong> You cannot edit content in the shared project.</p>
            @using (Html.BeginForm("UseShared", "SelfConfig"))
            {
                <button class="button button-primary margin-top-xl">Use the shared project</button>
            }
        </section>
    </div>
</div>