@model DancingGoat.Areas.Admin.Models.IndexViewModel

<section>
    <h1>Sample Site - Self Configuration</h1>
    <p>For your sample app to configure itself automatically with a proper project ID, you can either get it by signing in using your Kentico Cloud credentials or by signing up for a trial. Later, it will be converted to a free plan.</p>

    @Html.Partial("_WarningPartial")

    <h2>Get a Project ID By Signing In</h2>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @action = @"https://horusproduction.e1.loginrocket.com/v1/login", enctype = "multipart/form-data", id = "signin" }))
    {
        @Html.Partial("_SignInPartial", Model.SignInModel)
    }

    <h2>Get a Project ID By Signing Up</h2>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @action = @"https://horusproduction.e1.loginrocket.com/v1/signup", enctype = "multipart/form-data", id = "signup" }))
    {
        @Html.Partial("_SignUpPartial", Model.SignUpModel)
    }
</section>
<section>
    @Html.Partial("_ProjectIdPartial", Model.SelectProjectModel)
</section>
<section>
    @Html.Partial("_SharedGeneralPartial")
</section>

@section Scripts
{
    @Scripts.Render("~/Areas/Admin/Scripts/identityForms.js")
}