@model DancingGoat.Models.BrewerFilterViewModel

<h4>@Resources.DancingGoat.Brewers_Manufacturers</h4>

@for (var i = 0; i < Model.AvailableManufacturers.Count; ++i)
{
    <span class="checkbox js-postback">
        @Html.HiddenFor(m => m.AvailableManufacturers[i].Value)
        @Html.CheckBoxFor(m => m.AvailableManufacturers[i].Selected)
        @Html.LabelFor(m => m.AvailableManufacturers[i].Selected, Model.AvailableManufacturers[i].Text)
    </span>
}

<h4>@Resources.DancingGoat.Brewers_PublicStatus</h4>

@for (var i = 0; i < Model.AvailableStatusTypes.Count; ++i)
{
    <span class="checkbox js-postback">
        @Html.HiddenFor(m => m.AvailableStatusTypes[i].Value)
        @Html.CheckBoxFor(m => m.AvailableStatusTypes[i].Selected)
        @Html.LabelFor(m => m.AvailableStatusTypes[i].Selected, Model.AvailableStatusTypes[i].Text)
    </span>
}