@model DancingGoat.Models.BrewerFilterViewModel

<h4>@Localizer["Brewers.Manufacturers"]</h4>

@for (var i = 0; i < Model.AvailableManufacturers.Count; ++i)
{
    <span class="checkbox js-postback">
        @Html.HiddenFor(m => m.AvailableManufacturers[i].Value)
        @Html.CheckBoxFor(m => m.AvailableManufacturers[i].Selected)
        @Html.LabelFor(m => m.AvailableManufacturers[i].Selected, Model.AvailableManufacturers[i].Text)
    </span>
}

<h4>@Localizer["Brewers.PublicStatus"]</h4>

@for (var i = 0; i < Model.AvailableProductStatuses.Count; ++i)
{
    <span class="checkbox js-postback">
        @Html.HiddenFor(m => m.AvailableProductStatuses[i].Value)
        @Html.CheckBoxFor(m => m.AvailableProductStatuses[i].Selected)
        @Html.LabelFor(m => m.AvailableProductStatuses[i].Selected, Model.AvailableProductStatuses[i].Text)
    </span>
}