@using DancingGoat.Helpers.Extensions
@model DancingGoat.Models.Article

<div class="col-md-3">
    <div class="article-tile">
        <a href="@Url.Action("Show", "Articles", new { id = Model.System.Codename })">
            @Html.AssetImage(Model.TeaserImage, 0, title: $"Article {Model.System.Name}", cssClass: "article-tile-image")
        </a>
        <div class="article-tile-date">
            @Html.DateTimeFormatted(Model.PostDate, "M")
        </div>
        <div class="article-tile-content">
            <h2 class="h4">
                <a href="@Url.Action("Show", "Articles", new { id = Model.System.Codename })">@Model.System.Name </a>
            </h2>
            <p class="article-tile-text">
                @Html.DisplayFor(vm => vm.Summary)
            </p>
        </div>
    </div>
</div>