@using DancingGoat.Helpers.Extensions
@model DancingGoat.Models.Article

<div class="col-md-3">
    <div class="article-tile">
        <a href="@Url.Action("Show", "Articles", new { urlSlug = Model.UrlPattern })">
            @Html.AssetImage(Model.TeaserImage.FirstOrDefault(), title: $"Article {Model.Title}", cssClass: "article-tile-image")
        </a>
        <div class="article-tile-date">
            @Html.DateTimeFormattedFor(vm => vm.PostDate, "M")
        </div>
        <div class="article-tile-content">
            <h2 class="h4">
                <a href="@Url.Action("Show", "Articles", new { urlSlug = Model.UrlPattern })">@Model.Title</a>
            </h2>
            <p class="article-tile-text">
                @Html.DisplayFor(vm => vm.Summary)
            </p>
        </div>
    </div>
</div>