@model KenticoCloud.Delivery.ContentItem

@{
    var image = Model.GetAssets("image").First();
    var status = Model.GetTaxonomyTerms("product_status").FirstOrDefault()?.Name;
}

<article class="product-tile">
    <a href="@Url.Action("Detail", "Product", new {id = Model.System.Codename})">
        <h1 class="product-heading">@Model.System.Name</h1>
        @if (status != null)
        {
            <span class="product-tile-status">
                @status
            </span>
        }
        <figure class="product-tile-image">
            <img src="@image.Url" alt="@image.Name" width="452" height="452" />
        </figure>
        <div class="product-tile-info">
            <span class="product-tile-price">
                @Model.GetNumber("price").Value.ToString("C")
            </span>
        </div>
    </a>
</article>