@model DancingGoat.Models.IProduct

@{
    var price = Model.ProductPrice.HasValue ? Model.ProductPrice.Value.ToString("C") : "Price hasn't been set yet.";
}

<article class="product-tile">
    <a href="@Url.Action("Detail", "Product", new {urlSlug = Model.ProductUrlPattern})">
        <h1 class="product-heading">@Model.ProductProductName</h1>
        @if (Model.ProductProductStatus.Any())
        {
            <span class="product-tile-status">
                @Html.DisplayFor(vm => vm.ProductProductStatus.First().Name)
            </span>
        }
        <figure class="product-tile-image">
            @Html.AssetImage(Model.ProductImage.FirstOrDefault(), width: 452, height: 452)
        </figure>
        <div class="product-tile-info">
            <span class="product-tile-price">
                @Html.DisplayFor(vm => price)
            </span>
        </div>
    </a>
</article>