@model DancingGoat.Models.Article

<div class="col-lg-3 col-md-6 col-sm-12">
    <div class="article-tile">
        <localized-route asp-controller="Articles" asp-action="Show" asp-route-urlSlug="@Model.UrlPattern">
            <img-asset asset="@Model.TeaserImage.First()" class="article-tile-image" title="Article @Model.Title" />
        </localized-route>
        <div class="article-tile-date">
            @Html.DateTimeFormattedFor(vm => vm.PostDate, "M")
        </div>
        <div class="article-tile-content">
            <h2 class="h4">
                <localized-route asp-controller="Articles" asp-action="Show" asp-route-urlSlug="@Model.UrlPattern">@Html.DisplayFor(vm => vm.Title)</localized-route>
            </h2>
            <p class="article-tile-text">
                @Html.DisplayFor(vm => vm.Summary)
            </p>
        </div>
    </div>
</div>