@{
    ViewBag.Title = Localizer["NotFound.Title"];
}

<div class="row">
    <div class="not-found">
        <div class="col-md-5 col-lg-4 col-lg-offset-1 sm-hidden xs-hidden">
            <img class="img-responsive" alt="Page not found" src="@Url.Content("images/404.jpg")">
        </div>
        <div class="col-md-7 col-lg-6">
            <div class="not-found-content">
                <h2 class="">
                    @Localizer["NotFound.Title"]
                </h2>
                <p>@Localizer["NotFound.Message"]</p>
                <p>
                    @Html.Raw(string.Format(Localizer["NotFound.Instructions"], //Refactoring to anchor tag helper
                      Html.ActionLink(Localizer["NotFound.Homepage"], "Index", "Home"),
                      Html.ActionLink(Localizer["NotFound.ContactUs"], "Index", "Contacts")))
                </p>
                <a asp-controller="Home" asp-action="Index" class="btn">
                    @Localizer["NotFound.GoHome"]
                </a>
            </div>
        </div>
    </div>
</div>