@model DancingGoat.Models.ContactsViewModel

@{ ViewBag.Title = Localizer["Contact"]; }

@if (Model.Roastery != null)
{
<div class="col-md-12" data-kontent-item-id="@Model.Roastery.System.Id">
    <h2 class="contact-title">@Localizer["Roastery"]</h2>
    <ul class="contact-info">
        <li data-kontent-element-codename="@Cafe.PhoneCodename">@Html.DisplayFor(vm => vm.Roastery.Phone)</li>
        <li data-kontent-element-codename="@Cafe.EmailCodename">@Html.DisplayFor(vm => vm.Roastery.Email)</li>
        <li>
            <a href="javascript:void(0)" data-address="@Model.Roastery.City, @Model.Roastery.Street" class="js-scroll-to-map">
                <span data-kontent-element-codename="@Cafe.StreetCodename">@Html.DisplayFor(vm => vm.Roastery.Street)</span>, <span data-kontent-element-codename="@Cafe.CityCodename">@Html.DisplayFor(vm => vm.Roastery.City)</span><br />
                <span data-kontent-element-codename="@Cafe.ZipCodeCodename">@Html.DisplayFor(vm => vm.Roastery.ZipCode)</span>, <span data-kontent-element-codename="@Cafe.CountryCodename">@Html.DisplayFor(vm => vm.Roastery.Country)</span>, <span data-kontent-element-codename="@Cafe.StateCodename">@Html.DisplayFor(vm => vm.Roastery.State)</span><br />
            </a>
        </li>
    </ul>
</div>}

<h2>@Localizer["CompanyCafes"]</h2>
<div class="row">
    @Html.DisplayFor(vm => vm.Cafes)
</div>

<h2 class="map-title">@Localizer["ContactUs.MapTitle"]</h2>
<div class="map js-map"></div>

@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVOq4C-rf7JVeHt6ws9vsf-KHIRpueASg"></script>
    <script src="~/js/map.js"></script>
}