@model DancingGoat.Models.CafesViewModel

@{ ViewBag.Title = Localizer["Cafes"]; }

<h2>@Localizer["CompanyCafes"]</h2>
<div class="row">
    @Html.DisplayFor(vm => vm.CompanyCafes, new { ShowImage = true })
</div>

<h2>@Localizer["PartnerCafes.Title"]</h2>
<div class="row">
    @foreach (var cafe in Model.PartnerCafes)
    {
<div data-kontent-item-id="@cafe.System.Id">
    <h3><span data-kontent-element-codename="@Cafe.CityCodename">@Html.DisplayFor(vm => cafe.City)</span>, <span data-kontent-element-codename="@Cafe.CountryCodename">@Html.DisplayFor(vm => cafe.Country)</span></h3>
    <p>
        <span data-kontent-element-codename="@Cafe.CityCodename">@Html.DisplayFor(vm => cafe.City)</span>, <span data-kontent-element-codename="@Cafe.StreetCodename">@Html.DisplayFor(vm => cafe.Street)</span>, <span data-kontent-element-codename="@Cafe.PhoneCodename">@Html.DisplayFor(vm => cafe.Phone)</span></p>
</div>}
</div>

<h2 class="map-title">@Localizer["Cafes.MapTitle"]</h2>
<div class="map js-map"></div>

@section Scripts
{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVOq4C-rf7JVeHt6ws9vsf-KHIRpueASg"></script>
    <script src="~/js/map.js"></script>
}