@model DancingGoat.Models.CafesViewModel

@{
    ViewBag.Title = Resources.DancingGoat.Cafes;
}

<h2>@Resources.DancingGoat.CompanyCafes</h2>
<div class="row">
    @foreach (var cafe in Model.CompanyCafes)
    {
        <div class="col-md-6">
            <div class="cafe-image-tile cursor-hand js-scroll-to-map" data-address="@cafe.City,@cafe.Street">
                <div class="cafe-image-tile-image-wrapper" style="background-image:url('@cafe.Photo.First().Url'); background-size: cover; background-position: right center;">
                </div>
                <div class="cafe-image-tile-content">
                    <h3 class="cafe-image-tile-name">@cafe.System.Name</h3>
                    <address class="cafe-tile-address">
                        <a href="javascript:void(0)" class="cafe-tile-address-anchor">
                            @cafe.Street, @cafe.City
                            <br />
                            @cafe.ZipCode, @cafe.Country, @cafe.State
                        </a>
                    </address>
                    <p>@cafe.Phone</p>
                </div>
            </div>
        </div>
    }
</div>

<h2>@Resources.DancingGoat.PartnerCafes_Title</h2>
<div class="row">
    @foreach (var cafe in Model.PartnerCafes)
    {
        <h3>@cafe.City, @cafe.Country</h3>
        <p>
            @cafe.System.Name, @cafe.Street, @cafe.Phone
        </p>
    }
</div>

<h2 class="map-title">@Resources.DancingGoat.Cafes_MapTitle</h2>
<div class="map js-map"></div>

@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVOq4C-rf7JVeHt6ws9vsf-KHIRpueASg"></script>
    @Scripts.Render("~/Scripts/map.js")
}