@model DancingGoat.Models.CafesViewModel

@{
    ViewBag.Title = Localizer["Cafes"];
}

<h2>@Localizer["CompanyCafes"]</h2>
<div class="row">
    @Html.DisplayFor(vm => vm.CompanyCafes, new { ShowImage = true })
</div>

<h2>@Localizer["PartnerCafes.Title"]</h2>
<div class="row">
    @foreach (var cafe in Model.PartnerCafes)
    {
        <h3>@Html.DisplayFor(vm => cafe.City), @Html.DisplayFor(vm => cafe.Country)</h3>
        <p>
            @Html.DisplayFor(vm => cafe.System.Name), @Html.DisplayFor(vm => cafe.Street), @Html.DisplayFor(vm => cafe.Phone)
        </p>
    }
</div>

<h2 class="map-title">@Localizer["Cafes.MapTitle"]</h2>
<div class="map js-map"></div>

@section Scripts
{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVOq4C-rf7JVeHt6ws9vsf-KHIRpueASg"></script>
    <script src="~/js/map.js"></script>
}