@using Kentico.Kontent.Delivery
@model DancingGoat.Models.IProduct
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.ProductProductName;
}
@section headers
{
    @Html.Partial("HeadersMetadata", Model)
}

<article class="product-detail">
    <div class="row">
        <div class="col-md-12">
            <header>
                <h2>@Html.DisplayFor(vm => vm.ProductProductName)</h2>
            </header>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-lg-7 col-md-6">
            <figure class="image">
                @Html.AssetImage(Model.ProductImage.FirstOrDefault())
            </figure>
            <div class="description">
                @Html.Raw(string.Join("\n", Model.ProductShortDescription?.Blocks ?? (Model.ProductLongDescription?.Blocks ?? Enumerable.Empty<IRichTextBlock>())))
                @RenderSection("ProductSpecificProperties", false)
            </div>
        </div>
        @RenderSection("ProductSpecificForm", false)
    </div>
</article>

@section Scripts
{
    @RenderSection("Scripts", false)
}