<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700,700i&amp;subset=latin-ext">
    <link rel="stylesheet" href="@Url.Content("~/css/admin.css")" type="text/css" />
    @RenderSection("headers", false)
</head>
<body class="gradient-desk padding-bottom-xl">
    <div class="kk-container">
        <a href="/" class="logo-link">
            <img class="logo" src="~/images/Admin/kontent-ai-logo.svg" alt="Kontent.ai logo" />
        </a>
    </div>
    @RenderBody()
    @RenderSection("Scripts", required: false)
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
</body>
</html>
